<mat-card *ngIf="showCard" class="list-card">
  <mat-card-actions class="card-buttons">
      <button class="backltr" mat-mini-fab (click)="Cancel()" title="Назад">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      <a>{{srv[0]?.name2}}</a>
      <button class="answbtn" mat-button (click)="Answer(srv[0]?.name2)">Ответить</button>
  </mat-card-actions>
  <mat-card-content class="card-content">
      <hr class="hr-shelf">
      <div class="lifiles">
          <ul>
              <li *ngFor="let pos of read; let i=index">
                  <p *ngIf="pos?.name7=='1'" class="msginfo">{{pos?.name3}}</p>
                  <p *ngIf="pos?.name7=='1'" class="msgtext">{{pos?.name2}}</p>
              </li>
          </ul>
      </div>
      
      <div class="fileadd">
          <div class="block" *ngFor="let pos of read; let i=index">
              
              <span>
                  <p *ngIf="pos?.name7=='2'" class="fileinfo" 
                      (click)="clickFile(pos.name1, pos.name6, pos.name2, pos.name5)">
                      <mat-card class="example-card">
                          <mat-icon>description</mat-icon><br>
                          <a>{{pos?.name2}}</a><br>
                          <a>{{pos?.name4}}</a>                    
                      </mat-card>
                  </p>
              </span>
          </div>
      </div>
  </mat-card-content>-->
</mat-card>
