<div class="img">

  <div *ngIf="newpost" [ngStyle]= "newstyle">
    <app-newpost (onChanged)="onChanged($event)"></app-newpost>
  </div>
    
  <div *ngIf="allposts" class="blocks">
      
      <button *ngIf="id=='1'" class="write" mat-mini-fab (click)="Write()" title="Новое сообщение">
        <mat-icon>add</mat-icon>
      </button>

      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="headimg"></div>
          <mat-card-title>Газета ПАМ</mat-card-title>
          <mat-card-subtitle>Выпуск 87 / Июнь 2021 г.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <img class="prev" src="assets/img/pam_gaz.jpg" alt="Газета ПАМ Обнинск">
          <p>
            Выпуск посвящен Дню защиты детей.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="lentabtn" mat-raised-button>Посмотреть</button>
        </mat-card-actions>
      </mat-card>
      <!--*****************************-->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="headimg"></div>
          <mat-card-title>Сообщение</mat-card-title>
          <mat-card-subtitle>Сотрудник...</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <img class="prev" src="assets/img/4.jpg" alt="Сосулька">
          <p>
            ВНИМАНИЕ! На крыше у входа большие сосульки! БУДЬТЕ ВНИМАТЕЛЬНЫ!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="lentabtn" mat-raised-button>Прочитано</button>
        </mat-card-actions>
      </mat-card>
      <!--*****************************-->
      <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="headimg"></div>
          <mat-card-title>Сообщение</mat-card-title>
          <mat-card-subtitle>Коллектив</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="content">
          <img class="prev" src="assets/img/5.jpg" alt="С юбилеем">
          <p>
            Сегодня наш коллектив поздравляет "Сотрудника" с Днем Рождения!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button class="lentabtn" mat-raised-button>Прочитано</button>
        </mat-card-actions>
      </mat-card>
            
            
              <!--<a href = "http://fond.biozona.ru"><img class="fond" src="assets/img/222.jpg"  alt="fond.biozona.ru"></a>-->
          
      
  
  
  </div>
</div>