<div class="img">
  <div>
    <div class="blocks">
      <ul>
          <li *ngFor="let pos of mass; let i=index">
            <mat-card class="card">
              <mat-card-header>
                <div mat-card-avatar class="headimg"></div>
                <mat-card-title>Газета ПАМ</mat-card-title>
                <mat-card-subtitle>Выпуск 87 / Июнь 2021 г.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="content">
                <img class="prev" src="assets/img/pam_gaz.jpg" alt="Газета ПАМ Обнинск">
                <p>
                  Выпуск посвящен Дню защиты детей.
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>Посмотреть</button>
              </mat-card-actions>
            </mat-card>
              <!--<a href = "http://fond.biozona.ru"><img class="fond" src="assets/img/222.jpg"  alt="fond.biozona.ru"></a>-->
          </li>
      </ul>
  </div>
  
  </div>
