<div class="img" >
<div class="qqq"></div>
<div class="container">
  <div class="hcont">
    <label>Авторизация</label>
  </div>
  
  <div class="entername">
    <mat-form-field class="name" hintLabel="Минимум 8 символов" appearance="outline">
      <mat-label>Введите логин</mat-label>
      <input matInput #input maxlength="8" placeholder=""[(ngModel)]="username"
      autocomplete="off">
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
    </mat-form-field>
    
    <mat-form-field class="pass" hintLabel="Минимум 8 символов" appearance="outline">
      <mat-label>Введите пароль</mat-label>
      <input matInput #input maxlength="8" placeholder=""[(ngModel)]="password"
      (keyup.enter)="clickOk(username, password)" autocomplete="off">
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
      <!--<input matInput [type]="hide ? 'password' : 'text'"[(ngModel)]="password"
       (keyup.enter)="clickOk(username, password)" autocomplete="one-time-code">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>-->
    </mat-form-field>
  </div>

  <div class="button">
    <span><button id="btnNo" mat-raised-button routerLink="lenta">Отмена</button></span>
    <span><button id="btnOk" mat-raised-button (click)="clickOk(username, password)">OK</button></span>
    
  </div>
  <div class="reg">
    <!--<button class = "intbutn" mat-raised-button routerLink="/msg">msg</button>-->
  </div>

</div>