.sidenav {
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 1px;
    margin-bottom: 1px;
}
.navbuttons {
    background-color: rgb(221, 234, 253);
    max-width: 71px;
    text-align: center;
    
}
.navbuttons a, p {
    font-size: 12px;
} 
.inbox {
    margin-top: 23px;
    background-color: #3f51b5;
}
.outbox,
.poluch {
    margin-top: 15px;
    background-color: #3f51b5;
}
.file-input {
    display: none;
}
.write {
    margin-top: 60px;
    background-color: #3f51b5;
}
.poluch:active,
.addfiles:active {
    background-color: #ff9e00;
}
.inboxactive,
.outboxactive,
.writeactive {
    background-color: #ff9e00;
}
.table-container {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    margin-left: 2px;
    border-radius: 5px;
    font-size: 25px;
    background-color: white;
}

table {
    width: 100%;
}

table td {
    font-size: 17px;
}

table th {
    font-size: 15px;
    font-weight: bold;
}

.row-table:hover {
    background-color: rgb(240, 240, 240);
}

.head-table {
    height: 35px;
    background-color: rgb(221, 234, 253);
}

.row-table {
    height: 30px;
}

.clickRowColor {
    background-color: rgb(230, 230, 230);
    font-size: 20px;
}

.list-card {
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    margin-left: 2px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 234, 253);
}
.card-buttons {
    padding-left: 8px;
    margin: 0;
    z-index: 10;
}
.card-content {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    
}
.lifiles{
    position: absolute;
    overflow-y: auto;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    padding-top: 50px;
    margin-left: 1px;
    margin-right: 1px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
}
.hr-shelf {
    visibility: hidden;
	margin: -40px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 98%;
}
.files{
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 10px;
    
    
}
.fileinfo:hover{
    cursor: pointer;
    font-weight: bold;
}
.fileslist{
    padding-left: 15px;
    
}
.list-card li {
    list-style-type: none;
    margin-left: -20px;
}
.list-card a {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
.backltr {
    height: 40px;
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
    background-color: #3f51b5
}
.themebtn {
    height: 35px;
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.info {
    padding-top: 5px;
    padding-left: 5px;
    height: 15px;
}
.answbtn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 40px;
    color: white;
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
    background-color: #3f51b5
}
.msginfo {
    width: 95%;
    font-size: 12px;
    color: rgb(145, 145, 145);
    text-decoration: underline;
    white-space: pre-wrap;
}
.msgtext {
    width: 95%;
    font-size: 15px;
    white-space: pre-wrap;
}
.ltrcard {
    position: absolute;
    z-index: 9;
    left: 2px;
    right: 1px;
    top: 0;
    bottom: 1px;
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    background-color: rgb(221, 234, 253);
    border-radius: 5px;
}
.addfiles {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    background-color: #3f51b5;
}
.logo {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    height: 27px;
    color: whitesmoke;
    background-color: #3f51b5;
    text-align: center;
    border-radius: 5px;
}
.ltrbuttons {
    position: absolute;
    top: 27px;
    left: 1px;
    right: 1px;
    padding-left: 15px;
    background-color: rgb(221, 234, 253);
}
.letterbtn, .letterbtn2, .letterbtn3{
    padding-bottom: 5px;
} 
.btn1, .thema, .komu {
    width: 100px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.vibor {
    width: 100%;
    margin-bottom: 0;
}
.ltrcontent {
    position: absolute;
    top: 190px;
    left: 10px;
    right: 10px;
    bottom: 0px;
    background-color: white;
    box-shadow: 0 0 10px rgb(163, 163, 163);
    
}
.textarea {
    position: absolute;
    width: -webkit-fill-available;
    top: 0;
    bottom: 200px;
    overflow-y: scroll;
    border: 0px solid rgb(38, 201, 38);
    padding: 15px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    outline: none;
    background-color: white;
    white-space: pre-wrap;
}
.fileadd {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    max-width: 2000px;
    height: 135px;   
    overflow-x: auto;
    overflow-y :unset;
    padding-top: 3px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; 
    display: flex;
    border: 1px solid rgb(38, 201, 38);
    line-height: 00px;    
}
.fileadd .mat-icon {
    padding-right: 20px;
    font-size: 48px;
}
.example-card {
    padding: 0;
    margin-right: 15px;
    text-align: center;
    width: 100px;
    height: 110px;
    background-color: rgb(240, 240, 240);
    line-height: 12px;  
  }
.example-card a, p {
    font-size: 12px;
    overflow-wrap: break-word;  
}  
  
.del mat-icon {
    position: absolute;
    top: 6px;
    left: 6px;
}
.del:active {
    background-color: #ff9e00;
}

.sendltrbtn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 13px;
    height: 45px;
    
}

.writeltr {
    height: 35px;
    margin-right: 20px;
    background-color: #3f51b5;
    color: white;
}

.altr {
    margin-right: 10px;
}

.right {
    position: absolute;
    right: 0;
}

.maxon {
    color: red;
}