.sidenav {
  background-color: rgb(241, 247, 255);
  width: 100vw;
  height: 89vh;
  margin-top: 3px;
  border-radius: 5px;  
}
.navbuttons {
  background-color: rgb(221, 234, 253);
  max-width: 135px;
  margin-top: 1px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navbuttons button {
  padding-top: 2px;
  width: 130px;
  text-align: start;
}

.inboxactive {
  background-color: rgb(0, 200, 143);
}

.outboxactive {
  background-color: rgb(0, 200, 143);
}

.msg{
  background-color: rgb(193, 218, 255);
}
.table-container {
    height: 34vh;
    overflow:auto;
    margin: 5px;   
    border-radius: 5px;
}
table {
  width: 100%;
}
.head-table {
  height: 25px;
  background-color: rgb(221, 234, 253);
}
.row-table{
  height: 25px;
}
.clickRowColor {
  background-color: rgb(238, 238, 238);
} 
.list-card {
  padding: 0px;
  padding-bottom: 5px;
  height: 52vh;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 234, 253);
  }  
.card-buttons { 
  padding: 5px;
  margin: 0; 
}
.card-content{ 
  overflow-y: auto;
  background-color: white;
}  
.list-card li {
  list-style-type: none;
}
.list-card a {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.themebtn{
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.answbtn{
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.filebtn{
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.msginfo{
  font-size: 12px;
  color: gray;
  text-decoration: underline;
}
.msgtext{ 
  width: 95%;
  font-size: 15px;
  white-space: pre-wrap;  
}

.msg2{
  background-color: rgb(193, 218, 255);
}
.table-container2 {
    height: 34vh;
    overflow:auto;
    margin: 5px;   
    border-radius: 5px;
}
table {
  width: 100%;
}
.head-table2 {
  height: 25px;
  background-color: rgb(221, 234, 253);
}
.row-table2 {
  height: 25px;
}
.clickRowColor2 {
  background-color: rgb(238, 238, 238);
} 
.list-card2 {
  padding: 0px;
  padding-bottom: 5px;
  height: 52vh;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(221, 234, 253);
  }  
.card-buttons2 { 
  padding: 5px;
  margin: 0; 
}
.card-content2 { 
  overflow-y: auto;
  background-color: white;
}  
.list-card2 li {
  list-style-type: none;
}
.list-card2 a {
  padding-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.themebtn2 {
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.answbtn2 {
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.filebtn2 {
  height: 35px;
  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}
.msginfo2 {
  font-size: 12px;
  color: gray;
  text-decoration: underline;
}
.msgtext2 { 
  width: 95%;
  font-size: 15px;
  white-space: pre-wrap;
}



.zaten{
  position: absolute;
  z-index: 500;
  background: rgba(53, 53, 53, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}
.okno {
  position: absolute;
  z-index: 1000;
  width: 50vw;
  min-width: 450px;
  height: 70vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  border: solid 1px #ccc;
}

.logo{
  height: 20px;
  color: whitesmoke;
  background-color: rgb(0, 91, 143);
  text-align: center;
  
}
.sendltrbtn{
  display: flex;
  padding: 5px;
  background-color: rgb(193, 218, 255);
  
  
}
.sendltrbtn p {
  margin-bottom: 0px;
  height: 20px;
}
.writeltr {
  height: 35px;
  background-color: whitesmoke;

  box-shadow: 0px 0px 5px 1px rgb(204, 204, 204);
}