/* ---------------- header ---------------- */
.menu-buttons{
    display: none;
}
.menu {
    position: absolute;
    top: 15px;
    left: 16px;
    background-color: azure;
    color: brown;
    z-index: 100;
}
.head{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    height: 45px;
    background-color: #3f51b5;
    box-shadow: 0 20px 20px -20px #000; 
}
.intbutn{
    position: absolute;
    top: 5px;
    right: 0px;
    height: 35px;
}
.intbutn .butn {
    margin-right: 10px;
}
.mainname {
    font-size: 15px;
    color: azure;
    padding-right: 10px;
}
.menu-lk{
    padding: 5px;
}

/* ---------------- body ---------------- */

.body{
    width: 100%;
    height: 100%;
}
.navpanel{
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    bottom: 30px;
    border: 1px solid #555;
}

/* ---------------- footer ---------------- */
.footer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    height: 30px;
    background-color: #3f51b5;
    box-shadow: 0 20px 20px 20px #000;
}
.footer p {
    padding-top: 7px;
    text-align: center;
    color: azure;
}