<div class="head">
  <button class="menu"  mat-mini-fab title="Меню">
    <mat-icon>sort</mat-icon>
  </button>
  <div class = "intbutn">
    <div (window:resize)="onResize($event)"></div>
      
    <a class="mainname">{{name}}</a>
    <button class = "butn" mat-raised-button (click)="msgClick()">{{msgName}}</button>
    <button class = "butn" mat-raised-button (click)="Log()">{{btnname}}</button>
  </div>
  <!--<div class="size">
      <a>{{width}} </a>
      <a>{{height}}</a>
  </div>-->
</div>
  
<div class="body">
  <mat-sidenav-container class="navpanel">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
  </mat-sidenav>

  <mat-sidenav-content>  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  
</div>

<div class="footer">
  <p>https://www.biozona.ru - 2021 г.</p>
</div>
