<div class="head">
  <button class="menu" (click)="btnMenu()" mat-mini-fab title="Меню">
    <mat-icon>sort</mat-icon>
  </button>
  <div class = "intbutn">
   <!--<div (window:resize)="onResize($event)"></div>-->
   
  <button *ngIf="id =='1'" class = "butnup" mat-raised-button 
    matBadge={{ev1}} matBadgePosition = "below" matBadgeSize = "small"  
    matBadgeColor="accent" routerLink = "lenta">Лента
  </button>  
  <button *ngIf="id =='1'" class = "butnup" mat-raised-button 
    matBadge={{ev2}} matBadgePosition = "below" matBadgeSize = "small"  
    matBadgeColor="accent" (click)="msgClick()">Сообщения
  </button>
  <button *ngIf="id =='1'" class = "butnup" mat-raised-button routerLink = "otchet">Отчеты</button>
      <button *ngIf="id =='1'" class = "butnup" mat-raised-button routerLink = "sklad">Склад</button>
    <a class="mainname">{{name}}</a>
    <!--<button class = "butn" mat-raised-button (click)="msgClick()">{{msgName}}</button>-->
    <div class = "butn" mat-mini-fab (click)="Log()" title={{btnname}}>
      <mat-icon>person_outline</mat-icon>
    </div>
    
  </div>
  <!--<div class="size">
      <a>{{width}} </a>
      <a>{{height}}</a>
  </div>-->
</div>
  
<div class="body">
  <mat-drawer-container (click)="btnMenuClose()" class="navpanel">
    <mat-drawer class="sidenav" mode="side" [(opened)]="opened">
      <button  class = "butn" mat-raised-button (click)="Log()">{{btnname}}</button>
      <button  class = "butn" mat-raised-button
        matBadge={{ev1}} matBadgePosition = "below" matBadgeSize = "small"  
        matBadgeColor="accent" routerLink = "lenta">Лента
      </button>
      <button *ngIf="id =='1'" class = "butn" mat-raised-button
        matBadge={{ev2}} matBadgePosition = "below" matBadgeSize = "small"
        matBadgeColor="accent" (click)="msgClick()">Сообщения
      </button>
      <button *ngIf="id =='1'" class = "butn" mat-raised-button routerLink = "otchet">Отчеты</button>
      <button *ngIf="id =='1'" class = "butn" mat-raised-button routerLink = "sklad">Склад</button>
      <button *ngIf="id =='1'" class = "butn" mat-raised-button ></button>
      
    </mat-drawer>

  <mat-drawer-content >
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
  
</div>

<div class="footer">
  <p>https://biozona.ru - 2021 г.</p>
</div>
