<div class="head">
  <button class="menu"  mat-mini-fab title="Меню">
    <mat-icon>sort</mat-icon>
  </button>
  <button class = "intbutn" mat-raised-button routerLink="enter">Авторизация</button>
</div>
  
<div class="body">
  <mat-sidenav-container class="navpanel">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
  </mat-sidenav>

  <mat-sidenav-content>  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
  
</div>

<div class="footer">
  <p>https://www.biozona.ru - 2021 г.</p>
</div>
